**/venv/
**/__pycache__/
**/tmp/
**/.DS_Store
**/.ipynb_checkpoints/

# Specific paths
rt_web_crawler/results/xml_sources/state_laws/*.xml
rt_web_crawler/results/xml_sources/government_orders/*.xml
rt_web_crawler/results/xml_sources/government_regulations/*.xml
rt_web_crawler/results/xml_sources/local_government_acts/*.xml
