<!DOCTYPE html>
  <html lang="et">
    <head>
      <meta charset="UTF-8">
      <title>Päringu ettearvutaja</title>
    </head>
    <body>
      <h1>Sisendkorpuse valimine</h1>
      <form method="POST" action="" enctype="multipart/form-data">
        <input type="file" name="file"><br><br>
      
      Väljundformaat:
        <input checked type="radio" name="formaat", value="json"> JSON </input>
        <input         type="radio" name="formaat", value="csv" > CSV  </input><br><br>
                  
        <input type="submit" value="Genereeri"><br>
      </form>
        <hr>
        {% autoescape false %}
        {{ query_result }}
        {% endautoescape %}
        <hr>  
        <a href="https://github.com/estnltk/smart-search/wp/wp_paringu_ettearvutaja/README.md">Kasutusjuhend</a>
    </body>
  </html>