<!DOCTYPE html>
  <html lang="et">
    <head>
      <meta charset="UTF-8">
      <title>Indeksi koostamine</title>
    </head>
    <body>
      {% autoescape false %}
        Veebilehe versioon: {{ veebilehe_versioon }}<br>
        Keskkonnamuutujatest:<br>
        &nbsp;&nbsp;lemmapõhine päringu normaliseerija url: {{ lemmapohine_paringu_normaliseerija_url }}<br>
        &nbsp;&nbsp;sõnavormipõhine päringu normaliseerija url: {{ sonavormipohine_paringu_normaliseerija_url }}<br>
      {% endautoescape %}
      <hr>  
      <a href="https://github.com/estnltk/smart-search/blob/main/wp/wp_paring/README.md">Kasutusjuhend</a>
    </body>
  </html>