<!DOCTYPE html>
  <html lang="et">
    <head>
      <meta charset="UTF-8">
      <title>Päringuvorm</title>
    </head>
    <body>
      <h1>Indeksi koostamine</h1>
      <form method="POST" action="" enctype="multipart/form-data">

        <input         type="checkbox" name="norm_paring" value="norm_paring">Kuvame normaliseeritud päringut</input><br>
        <input checked type="checkbox" name="fragments"   value="fragments"  >Otsime liitsõna osasõnadest    </input><br><br>
        Väljundformaat:<br><br>
            <input checked type="radio"    name="formaat",    value="html"        >Toome esile tekstist leitud otsisõned                </input><br>
            <input         type="radio"    name="formaat",    value="json"        >Esitame otsitulemused JSON-kujul                   </input><br><br>

            <input         type="text"     name="message"></input>
            <input         type="submit"   value="Otsing"></input><br><br><hr>


      </form>

      {% autoescape false %}
        {{ query_result }}
      {% endautoescape %}

        <a href="https://github.com/estnltk/smart-search/blob/main/demod/veebilehed/rt_pealkirjaotsing/README.md">Kasutusjuhend</a>
    </body>
  </html>