<!DOCTYPE html>
  <html lang="et">
    <head>
      <meta charset="UTF-8">
      <title>Indeksi koostamine</title>
    </head>
    <body>
      {% autoescape false %}
        Veebilehe versioon: {{ veebilehe_versioon }}<br>
        Keskkonnamuutujatest:<br>
        &nbsp;&nbsp;lemmade indekseerija url: {{ lemmade_indekseerija_url }}<br>
        &nbsp;&nbsp;sõnavormide indekseerija url: {{ sonavormide_indekseerija_url }}<br>
      {% endautoescape %}
      <hr>  
      <a href="https://github.com/estnltk/smart-search/blob/main/wp/wp_indekseerija/README.md">Kasutusjuhend</a>
    </body>
  </html>